<div class="row" id="main-row">
    <div class="row form1">
        <div class="col-lg-12">
            <div [formGroup]="dynamicGroup">
                <ng-container>
                    <ng-container formArrayName='dynamicFormArray'>
                        <ng-container
                            *ngFor="let details of dynamicGroup.controls.dynamicFormArray?.controls; let i=index;">
                            <div formGroupName="{{i}}">
                                <div class="row">
                                    <p>{{i + 1}}. {{ data[i].text }}</p>
                                </div>
                                <div >
                                    <label *ngFor="let order of data[i].options; let j=index">
                                        <input type="radio" formControlName="value" [value]="order" />
                                        {{order}}
                                    </label>
                                </div>
                                <!-- <div>
                                    <label *ngFor="let order of data[i].options; let j=index">
                                        <input [appCustomeType]="data[i].select" formControlName="value" [value]="order" />
                                        {{order}}
                                    </label>
                                </div> -->
                                <!-- <div *ngIf="data[i].select === 'checkbox'">
                                    <label *ngFor="let order of data[i].options; let j=index">
                                    <input type="checkbox" formControlName="value" />
                                    {{order}}
                                  </label>
                                </div> -->
                                <div class="row">
                                    <input type="text" rows="2" formControlName="remarks" class="form-control"
                                        placeholder="Remarks" style="display: inline-flex;">
                                </div>

                            </div>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>
            <div>
                <button (click)="save()" ></button>
            </div>
        </div>
    </div>
</div>