<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-height rounded border-0 card-bottom-btn-set-wrapper">
                    <div class="card-body p-5">
                        <div class="row">
                            <label>asdfasdfasfasfsafasfasfdasfsadffsdfasfd</label>
                            <input type="text">
                        </div>
                        <div class="row">
                            <label>asdfasdf</label>
                            <input type="text">
                        </div>
                        <div class="row">
                            <label>asdfasdf</label>
                            <input type="text">
                        </div>
                        <div class="row">
                            <label>asdfasdf</label>
                            <input type="text">
                        </div>
                        <div class="row">
                            <label>asdfasdf</label>
                            <input type="text">
                        </div>
                    </div>
                    <div>
                        <app-list></app-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>